# Python
# ----------------------------------------------------------------

# Virtual Environment
# This is the most important one to ignore!
venv/
/venv/
.venv/
*/venv/
env/
/env/
.env/
*/.env/

# Byte-compiled / optimized / C-extensions
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are created by pyinstaller, if you use it.
*.manifest
*.spec


# Streamlit
# ----------------------------------------------------------------
# The streamlit cache and credentials files
/reports/


# IDE / Editor specific files
# ----------------------------------------------------------------

# VS Code
.vscode/
.history/

# PyCharm
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace


# OS-specific files
# ----------------------------------------------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini


# Other
# ----------------------------------------------------------------
# Log files
*.log
*.log.*
logs/

# Temporary files
*.tmp
*~